<% content_for(:title) { "Home | Nutrition Tracker" } %>
<div class ="space-y-6">
  <h2 class = "text-xl font-bold">Calories for <%= Date.today.strftime("%B %d, %Y") %>:</h2>
    <p class="text-lg font-medium">Total Calories: <%= @total_calories %> kcal</p>
    <p class="text-lg font-medium">Remaining Calories: <%= @remaining_calories %> kcal</p>

     <% if @daily_log.food_entries.any? %>
    <h3 class="text-lg font-bold">Your Logged Items:</h3>
    <ul>
      <div class= "flex flex-col-reverse">
      <% @daily_log.food_entries.each do |entry| %>
       <li class="col-span-2">
          <p class="font-bold"><%= entry.food.name %></p>
          <%= entry.quantity %> serving(s),
          <%= entry.meal_type.capitalize %>
          <%= button_to 'Delete', profile_daily_log_food_entry_path(@profile.id, @daily_log.id, entry.id), method: :delete, data: { confirm: 'Are you sure?' }, class: "text-red-600 hover:underline" %>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p class="text-gray-500">No food items logged yet for today.</p>
  <% end %>
  </div>

  <%= render partial: "food_search/search", locals: { foods: [], daily_log_id: @daily_log.id, profile_id: @profile.id } %>
</div>