<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Nutrition Tracker" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav class="fixed top-0 left-0 right-0 bg-white shadow-md flex justify-between items-center px-5 py-3">
        <div class="flex items-center">
        <%= link_to "NUTRITION TRACKER", root_path, class: "text-2xl font-bold"%>
        </div>
       <% if authenticated? %>
            <%# <%= link_to "Edit Profile", edit_profile_path(:user_id), class: "text-gray-700 underline hover:no-underline" %>
            <%= button_to "Sign out", session_path, method: :delete, class: "w-full sm:w-auto text-center rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer"%>
        <% end %>
          </nav>
      <main class="w-full mt-28 px-5">
      <%= yield %>
    </main>
  </body>
</html>
